@import "_colors";

$headerColor: $color-primary-1;
$linkColor: $color-secondary-1-3;
$textColor: $color-primary-4;
$bgColor: $color-primary-2;

.caseStudy {
  background: $bgColor;
  margin-top: -100px;
  padding-top: 100px;

  margin-bottom: -100px;
  padding-bottom: 100px;

    .panel {
        text-align: center;

        p {
            width: 90%;
            text-align: left;
            margin: auto;
            padding: 10px 0;
            color: $textColor;
        }

        img {
            width: 100%;
            max-width: 350px;
            margin: auto;
            margin-bottom: 20px;
        }

        .panel-heading {
          padding: 40px 0;
          background: $headerColor;
          color: #fff;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 2px;
        }
        .btn {
          background: $linkColor;
          color: #fff;
        }


    }
}
