
.header {
    width: 100%;
    max-width: 3080px;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0 auto;
    h1 {
        margin: 0;
        padding-top: 100px;
        color: #fff;
        font-size: 80px;

    }

    small {
        margin: 0;
        padding-top: 100px;
        color: #fff;
        font-size: 30px;

    }
    .separator {
      font-size: 20px;
      color: #fff;
      margin-bottom: 20px;
    }
}

.page-header {
    margin: 0;
    border-bottom: 0;
}
