@import "_angled-edges";
@import "_colors";
$bgColor: $color-secondary-1-0;

.navbar {
    margin-bottom: 0;
    background: $bgColor;
    border: 0;
    border-radius: 0;
    @include angled-edge( 'outside bottom', 'lower right', $bgColor, 30);

    .btn-group {
        margin-top: 10px;

        .btn {
            border: 0;
            background: $bgColor;

            &:hover {
                background: $bgColor;
            }
        }

        .btn-primary {
            background: $bgColor;

            &:hover {
                background: $bgColor;
            }
        }

        .email {
            span {
              width: 50px;
              height: 31px;
                display: block;
                background: url("../IMG/iconsForSite.png") -4px -50px no-repeat;
            }

            &:hover {
                span {
                  background: url("../IMG/iconsForSite.png") -4px -6px no-repeat;
                }
            }
        }

        .linkedin {
            span {
                width: 30px;
                height: 30px;
                display: block;
                background: url("../IMG/iconsForSite.png") -108px -50px no-repeat;
            }

            &:hover {
                span {
                    background: url("../IMG/iconsForSite.png") -108px -6px no-repeat;
                }
            }
        }

        .cv {
            span {
              width: 25px;
              height: 35px;
                display: block;
                background: url("../IMG/iconsForSite.png") -68px -48px no-repeat;
            }

            &:hover {
                span {
                  background: url("../IMG/iconsForSite.png") -68px -4px no-repeat;
                }
            }
        }


    }
}
