@import "_angled-edges";
@import "_colors";

$bgColor: $color-primary-3;



.skills {
    margin-top: -100px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    background: $bgColor;
    @include angled-edge( 'outside bottom', 'lower left', $bgColor, 40);

    .list-group {
        background: $bgColor;
        color: #fff;

        .list-group-item {
            border: solid 1px $bgColor;
            background: $bgColor;
            font-weight: 400;

            strong {
                text-transform: uppercase;
                font-weight: 600;

                &:after {
                    content: '-';
                    padding-right: 10px;
                    padding-left: 10px;
                    font-size: 15px;
                }
            }
        }
    }
}
