@import "_angled-edges";
@import "_colors";

$bgColor : $color-primary-4;

.summary {
  margin-top: 10px;
  background: $bgColor;
  color: #fff;
  margin-top: -10px;
  padding-top: 30px;
  margin-bottom: 100px;
  @include angled-edge('outside top', 'upper right', $bgColor, 80);
  @include angled-edge('outside bottom', 'lower right', $bgColor, 35);

  .list-group {
      background: $bgColor;
      .list-group-item {
          background: $bgColor;
        }
    }


}
